body{font-family: "Roboto",
sans-serif;
color:#434455 ;
background-color:#FFFFFF;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,ol{
    list-style-type:  none; 
    margin: 0;
    padding-left:0;
}
a{ 
    text-decoration: none;
}

img{
    display: block;
}

.icon {
    fill: #f4f4fd;}


.logo{
    font-family:"Raleway",sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px
}


.page-header{
  border-bottom: 1px solid #e7e9fc ; 
box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}


.nav-list{
display: flex;
align-items: center;
gap: 40px;

}

  .page-header .container{
  display: flex; 
align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
        justify-content: space-between;
        position: relative;
        color: #404bbf;
}


.contacts .contacts-list{
display: flex;
align-items: center;
flex-grow: 1;
gap: 40px;
}


.header-logo .logo-part {
    color: #2e2f42;  
}


.container {
width:1158px;
padding-left:15px; 
padding-right:15px;
margin:0 auto;

}



.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
display: block;
position: relative;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts{
    font-style: normal;
    margin-left: 332px;
    
}


.contacts-link{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.nav-link:hover,
.nav-link:focus,.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}
.nav-link-curent {
    color: #404bbf;
}
.nav-link-curent::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    border-radius: 2px;
}

.section-one {
padding: 188px 0 188px;
 background-image:linear-gradient(  rgba(46, 47, 66, 70%), rgba(46, 47, 66, 70%)), url('../images/people-office.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
max-width: 1440px;
}



.section-one .title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right:auto ;
    
}

.butt {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #4d5ae5;
height: 56px;
display: block;
min-width: 169px;
border: none;
margin:0 auto;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.butt:hover{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}

.butt:focus {
    background-color: #404bbf;
}


.section-two{
  padding: 120px 0 120px  
}

.icon-wraper
 {
    display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid #8e8f99;
 border-radius: 4px;
 background: #f4f4fd;
 height: 112px;
 margin-bottom: 8px;
}

.section-two .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.container .div-list {
    display: flex;
    gap: 24px;
}

.div-item{
width: calc((100% - 72px) / 4);
flex-basis: calc((100% - 72px) / 4);
}


.section-three {
    background-color: #f4f4fd;
    text-transform: capitalize;
    padding: 120px 0;
}
 

.section-three .title-main {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-three .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
margin-bottom: 8px;
    color: #2e2f42;
}

.section-three .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team{
  display: flex; 
gap: 24px
}  


.team-box{
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
background-color: #ffffff;
color: #ffffff;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-box:hover .social-link,
.team-box .social-link:focus {
    background-color: #404bbf;
}


.member-info{
    padding: 32px 0;
}

.social-link-item {
    width: 40px;
    height: 40px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}


.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
 border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.section-four{
  padding-top: 120px;
        padding-bottom: 120px;  
}



.section-four .title-main {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
    margin-bottom: 72px;
}


.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
 
.project-card{
width: calc((100% - 48px) / 3);
transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.project-card-img {
    position: relative;
    overflow: hidden;
}


.project-card-overlay {
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
line-height: 1.5;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-card:hover .project-card-overlay {
    transform: translateY(0);
}
.project-card-text{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.section-four .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.section-four .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer .studio {
    color: #f4f4fd;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
 display: inline-block;
margin-bottom: 16px;
}

.footer-text{
margin-right: 120px

}

.footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-links-title {
font-weight: 500px;
color: #fff;
margin-bottom: 16px;
line-height: 1.5;
letter-spacing: 0.02em
}

.footer .social-links {
gap: 16px;
}

.social-media {
display: flex;
flex-direction: column;
}

.footer .icon {
fill: #f4f4fd;
}

.footer .social-link:hover,
.footer .social-link:focus {
background-color: #31d0aa;
}
/* footer-form */

.footer-subscribe-container{
    margin-left: auto;
}

.subscribe-label{
    display: block;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.subscribe-form{
    display: flex;
        gap: 24px;
}


.subscribe-form-input{
border: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
}

.subscribe-form-input::placeholder,
.subscribe-form-input[type="email"] {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.subscribe-btn{
   border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  background: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
  cursor: pointer;
height: 40px;
border: none;
}

.subscribe-btn:hover{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.subscribe-btn:focus {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}


.icon-send {
    margin-left: 16px;
    
}


.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
z-index: 999999;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.modal{
border-radius:4px;
width:408px;
min-height:584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
position: absolute;
top: 24px;
right: 24px;
border: none;
background-color: transparent;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-icon{
fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover .close-icon{
fill:#FFFFFF;
} 

.modal-close-btn:focus .close-icon {
    fill: #FFFFFF;
}

.modal-close-btn:hover{
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:focus{
    background-color: #404bbf;
    border: none;
}

.modal-titel{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
font-weight: 500;
}

.modal-wrapper{
position: relative;
margin-bottom: 8px;
}

.modal-label{
display: block;
font-weight: 400px;
font-size: 12px;
letter-spacing: 0.04em;
color: #8e8f99;
line-height: 1.17;
position: relative;
}

.modal-field{
    position: relative;
}
.modal-input{
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width:360px;
height: 40px;
background-color: transparent;
padding-left: 38px;
transition: border var(--animation);
width: 100%;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus{
border: 1px solid #4d5ae5;
outline: none;
}


.modal-input:focus + .modal-icon{
fill: #4d5ae5;
}


.modal-icon{
position: absolute;
top: 50%;

transform:translateY(-50%);
left: 16px;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
}

.modal-wrapper-comment{
margin-bottom: 16px;
}

.modal-textarea{
resize: none;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
height: 120px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 100%;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
outline: transparent;

}

.modal-textarea:focus{
border-color: #4D5AE5;
}

.checkbox-wrapper{
margin-bottom: 24px;
}

.modal-label-accept{
border-radius: 4px;
width: 360px;
height: 16px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
gap: 8px;
}

.modal-check{
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
width: 16px;
height: 16px;
display: inline-flex;
justify-content:center;
align-items:center;
margin-right: 8px;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
}

.privacy-link{
line-height: 1.33;
text-decoration: underline;
color: #4d5ae5;
}


.checkbox-input:checked + .modal-label-accept > .modal-check {
   background-color: #404bbf;
border: none;
fill:#F4F4FD;
}

.modal-submit-btn{
border-radius: 4px;
padding: 16px 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border: none;
margin: auto;
display: block;
min-width: 169px;
cursor: pointer;
}
.modal-submit-btn:hover{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.modal-submit-btn:focus{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}